// Navigation code here

.navigation {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 30px;
    margin-left: 100px;
    background-color: @wild-sand;
    width: 85%;
    h1 {
        color: #23293B;
        font-size: 4.5rem;
        display: flex;
        justify-content: space-between;
        margin-left: 100px;
    }
    a {
        margin: 30px;
        color: black;
        font-size: 1.5rem;
        margin: 30px;
        color: @river-bend;
    }
}

@media @phone {
    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: @wild-sand;
        margin-left: 50px;
        h1 {
            margin-left: 25px;
        }
        a {
            margin: 10px;
        }
    }
    
}